<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<style>
			@font-face {
				font-family: myFirstFont;
				src: url(font/In_your_face,_joffrey!.ttf);
			}

			* {
				font-family: myFirstFont;
			}

			#background-video {
				height: 100vh;
				width: 100vw;
				object-fit: cover;
				position: fixed;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				z-index: -1;
			}
			
			.wrapper {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			
			.logo {
				max-width: 80%;
				margin: 0 auto;
				max-height: 55%;
			}
			
			.playBtn {
				font-size: 150px;
				background-color: unset;
				color: white;
				border-radius: 15px;
				padding: 1px 30px;
				border-width: 5px;
				cursor: pointer;
			}
		</style>
		<title>Traps 2024</title>
	</head>
	<body>
		<audio autoplay>
			<source src="audio/theme.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
		<video id="background-video" autoplay loop muted>
			<source src="video/amongus.mp4" type="video/mp4">
		</video>
		<div class="wrapper">
			<img class="logo" src="images/Among-Us-Logo.png" />
			<button class="playBtn" onclick="goToIntro()">Play</button>
		</div>
		<script>
			function goToIntro() {
				window.location.href="navigateToIntro";
			}
		</script>
	</body>
</html>
