<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<style>
			@font-face {
				font-family: myFirstFont;
				src: url(font/In_your_face,_joffrey!.ttf);
			}

			* {
				font-family: myFirstFont;
			}

			body {
				background-image: url(images/space.jpg);
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-position: center;
				background-size: cover;
			}

			.wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 80%;
				margin: 0 auto;
			}

			h1 {
				color: white;
				font-size: 68pt;
			}

			.player-selection {
				display: flex;
				flex-direction: column;
				gap: 50px;
			}
			.row {
				display: flex;
				gap: 50px;
			}

			img {
				width: 180px;
			}
		</style>
		<title>Traps 2024</title>
	</head>
	<body>
		<audio autoplay>
			<source src="audio/theme.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
		<div class="wrapper">
			<h1>Choose the players</h1>
			<div class="player-selection">
				<div class="row">
					<img src="images/red.png" />
					<img src="images/orange.webp" />
					<img src="images/blue.png" />
					<img src="images/black.webp" />
				</div>
				<div class="row">
					<img src="images/white.png" />
					<img src="images/pink.png" />
					<img src="images/green.webp" />
					<img src="images/brown.webp" />
				</div>
			</div>
		</div>
	</body>
	<script>

	</script>
</html>
